
    <section id="post">
        <div class="container" id="portfolio">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>{{ page.title }}</h2>
                    <h3>{{ page.description }}</h3>
                    <hr class="star-secondary-on-white">
                </div>
            </div>
            <div id="article">
                <div id="article-img">
                    {% if page.img %}
                        <img src="/img/portfolio/{{ page.img }}" class="img-responsive img-centered" alt="{{ page.alt }}">
                    {% endif %}
                </div>

                {% if page.download-link%}
                    <h2>Download Link: <a href="{{ page.download-link }}" target="_blank">{{ page.download-alt }}</a></h2>
                {% elsif page.link%}
                    <h2>Link: <a href="{{ page.link }}" target="_blank">{{ page.link-alt }}</a></h2>
                {% endif%}

                {{ content }}
            </div>
        </div>
    </section>
